SERVER_API_TOKEN=your_secure_token_here
ALIAS_PROVIDER=<your_provider> # "mxroute" or "purelymail"

# "mxroute" ALIAS_PROVIDER
MXROUTE_SERVER=<your_server>.mxrouting.net
MXROUTE_USERNAME=<control_pane_username>
MXROUTE_API_KEY=<control_pane_api_key>

# "purelymail" ALIAS_PROVIDER
PURELYMAIL_API_KEY=<api_key>

SERVER_ADDRESS=http://bitwarden-alias-provider-server:6123 # Optional for web app
